<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Proj001.MavenLab.MultOptions"/>
      <class name="Proj001.MavenLab.DragAndDrop"/>
      <class name="Proj001.MavenLab.SwitchingWindows"/>
      <class name="Proj001.MavenLab.WebTable"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
